.bg-white {
    background-color: #ffffff;
}

.bg-gray {
    background-color: #eeeeee;
}

.bg-dark-blue {
    background-color: #051E34;
}

#top-content {
    height: 100px;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;

}

.navbar {
    height: 100%;
}

#small-logo {
    height: 45px;
    width: 45px;
}


#main-content {
    height: calc(100vh - 100px);
}

.sidebar {
    flex-basis: 30px;
    flex-shrink: 0;
}

@media screen and (min-width:992px) {
    .sidebar {
        flex-basis: 150px;
    }
}

main {
    flex-grow: 1;
    overflow: auto;
}

header {
    min-height: 100px;
    background-color: #1B72E8;
}

