/* Utils */

.bg-white {
    background-color: #ffffff;
}

.bg-gray {
    background-color: #eeeeee;
}

.bg-dark-blue {
    background-color: #051E34;
}

.bg-blue {
    background-color: #165BBA;
}

/* Top content */

#top-content {
    height: 100px;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;

}

#top-content a {
    text-decoration: none;
    color: gray;

}

.navbar {
    height: 100%;
}

#small-logo {
    height: 45px;
    width: 45px;
}

.btn-secondary {
    background-color: white;
    border: 0;
    padding: 0;
}

.right-header .btn:hover {
    background-color: white;
    border: 0;
}

.right-header .btn {
    padding: 0;
}

/* Bottom content */


#main-content {
    height: calc(100vh - 100px);
}

/* Sidebar */

.sidebar {
    flex-basis: 30px;
    flex-shrink: 0;
    background-image: url(../img/sidebar-bg.png)
}

@media screen and (min-width:992px) {
    .sidebar {
        flex-basis: 150px;
    }
}

/* Main */

main {
    flex-grow: 1;
    overflow: auto;
}

/* Header Main */

header {
    min-height: 100px;
    background-color: #1B72E8;
}

.right-header i {
    height: 45px;
    width: 45px;
    border: 1px solid white;
    border-radius: 5px;
    line-height: 45px;
    text-align: center;
}

.right-header i:hover {
    background-color: white;
    color: black;
}


@media screen and (max-width:576px) {
    header {
        flex-direction: column;
    }

    .right-header {
        order: -1;
    }
}

/* Content Main */

#avatar {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.btn-gray {
    text-decoration: none;
    color: #6C757D;
    display: inline-flex;
    border: 1px solid #6C757D;
    padding: 9px;
    border-radius: 7px;
}

.input-group-text {
    background-color: white;
}
  
#stats {
    width: 100%;
}


.offcanvas.offcanvas-end {
    width: 700px;
}